.productCard {
}

.productcard: hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.buttonIsSelected {
  background-color: transparent;
  border-color: blue;
  box-shadow: 0 4px 15px rgba(0, 191, 255, 0.5);
  color: black;
}

.buttonIsNotSelected {
  background-color: #1e40af;
  transition: background-color 0.3s;
  color: white;
}

.buttonIsNotSelected:hover {
  background-color: #1e40af;
}
